.calendarDisclaimer {
  font-weight: bold;
  text-align: center;
  padding: 8px 8px 0;
  font-size: 1.2em;

  small {
    display: block;
    font-weight: normal;
    font-size: 0.75em;
  }
}

.calendarContainer {
  position: relative;
}

.picker {
  :global {
    @import "react-datepicker/src/stylesheets/datepicker";

    .react-datepicker-wrapper, .react-datepicker__input-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
    }

    .react-datepicker {
      font-family: inherit;
      background: var(--theme-datepicker-bg-color);
      border: 2px solid var(--theme-datepicker-border);
      cursor: auto;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      color: var(--theme-text-color);
      display: grid;
      grid-template-columns: min-content;
      grid-template-rows: auto 1fr;

      &__header {
        background: none;
        border: none;
      }

      &__current-month, &-time__header, &-year-header {
        color: var(--theme-text-color);
      }

      &__day {
        color: var(--theme-text-color);
        border-radius: 4px;

        &-name {
          color: var(--theme-text-color);
        }

        &:hover, &:active, &:focus {
          background: var(--theme-datepicker-hover-bg-color);
        }

        &--selected, &--keyboard-selected {
          color: var(--theme-datepicker-selected-text-color);
          background: var(--theme-datepicker-selected-bg-color) !important;
          box-shadow: none !important;

          &:hover, &:active, &:focus {
            background: var(--theme-datepicker-selected-hover-bg-color) !important;
          }
        }

        &--disabled, &--outside-month {
          color: var(--theme-datepicker-disabled-text-color);
        }
      }

      &__navigation-icon {
        &:before {
          transition: border-color 0.2s ease;
          border-color: var(--theme-text-color);
        }

        &:hover, &:active, &:focus {
          border-color: var(--theme-link-hover-color);
        }
      }
    }
  }
}

.dateCorrect {
  background: #15b644;

  &:hover, &:active, &:focus {
    background: #00992e;
  }
}

.dateIncomplete {
  box-shadow: inset 4px 0 0 #ce9318, inset -4px 0 0 #ce9318, inset 0 4px 0 #ce9318, inset 0 -4px 0 #ce9318;
  background: #ffc92f;

  &:hover, &:active, &:focus {
    background: #ce9318 !important;
  }
}

.dateIncorrect {
  background: var(--theme-not-contained);

  &:hover, &:active, &:focus {
    background: var(--theme-not-contained-hover);
  }
}
