.header {
  display: flex;
  align-items: center;
  color: var(--theme-text-color);
  padding: 16px 24px;

  &.navigationHidden {
    justify-content: center;
  }

  @media (min-width: 1000px) {
    width: 100%;
    max-width: 55vmin;
    margin: 0 auto;
    box-sizing: content-box;
  }

  & > a {
    text-decoration: none;
  }

  h1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;

    svg {
      font-size: 1.5em;
    }

    @media (max-width: 400px) {
      font-size: 8vmin;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 24px;
  gap: 8px;

  @media (max-width: 400px) {
    gap: 1vmin;
  }

  &Entry {
    display: block;
    color: var(--theme-text-color);
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;
    appearance: none;

    button {
      color: inherit;
      appearance: none;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0;
      font-size: 1em;
    }

    svg {
      display: block;

      @media (max-width: 400px) {
        font-size: 6vmin;
      }
    }

    &:hover, &:active, &:focus {
      color: var(--theme-link-hover-color);
    }
  }
}
