.header {
  display: flex;
  align-items: center;
  color: var(--theme-text-color);
  padding: 16px 24px;

  &.navigationHidden {
    justify-content: center;
  }

  @media (min-width: 1000px) {
    width: 100%;
    max-width: 55vmin;
    margin: 0 auto;
    box-sizing: content-box;
  }

  & > a {
    text-decoration: none;
  }

  h1 {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: 500;
    text-transform: uppercase;

    svg {
      font-size: 1.5em;
    }

    @media (max-width: 400px) {
      font-size: 8vmin;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 24px;
  gap: 8px;

  @media (max-width: 400px) {
    gap: 1vmin;
  }

  &Entry {
    display: block;
    color: var(--theme-text-color);
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;
    appearance: none;

    button {
      color: inherit;
      appearance: none;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0;
      font-size: 1em;
    }

    svg {
      display: block;

      @media (max-width: 400px) {
        font-size: 6vmin;
      }
    }

    &:hover, &:active, &:focus {
      color: var(--theme-link-hover-color);
    }
  }

  .calendarDisclaimer {
    font-weight: bold;
    text-align: center;
    padding: 8px 8px 0;
    font-size: 1.2em;

    small {
      display: block;
      font-weight: normal;
      font-size: 0.75em;
    }
  }

  :global {
    @import "react-datepicker/src/stylesheets/datepicker";

    .react-datepicker-wrapper, .react-datepicker__input-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
    }

    .react-datepicker {
      font-family: inherit;
      background: var(--theme-datepicker-bg-color);
      border: 2px solid var(--theme-datepicker-border);
      cursor: auto;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      color: var(--theme-text-color);
      display: grid;
      grid-template-columns: min-content;
      grid-template-rows: auto 1fr;

      &__header {
        background: none;
        border: none;
      }

      &__current-month, &-time__header, &-year-header {
        color: var(--theme-text-color);
      }

      &__day {
        color: var(--theme-text-color);
        border-radius: 4px;

        &-name {
          color: var(--theme-text-color);
        }

        &:hover, &:active, &:focus {
          background: var(--theme-datepicker-hover-bg-color);
        }

        &--selected, &--keyboard-selected {
          color: var(--theme-datepicker-selected-text-color);
          background: var(--theme-datepicker-selected-bg-color) !important;

          &:hover, &:active, &:focus {
            background: var(--theme-datepicker-selected-hover-bg-color) !important;
          }
        }

        &--disabled, &--outside-month {
          color: var(--theme-datepicker-disabled-text-color);
        }
      }

      &__navigation-icon {
        &:before {
          transition: border-color 0.2s ease;
          border-color: var(--theme-text-color);
        }

        &:hover, &:active, &:focus {
          border-color: var(--theme-link-hover-color);
        }
      }
    }
  }

  .dateCorrect {
    background: #15b644;

    &:hover, &:active, &:focus {
      background: #00992e;
    }
  }

  .dateIncomplete {
    background: #ce9318;

    &:hover, &:active, &:focus {
      background: #b37a00;
    }
  }

  .dateIncorrect {
    background: var(--theme-not-contained);

    &:hover, &:active, &:focus {
      background: var(--theme-not-contained-hover);
    }
  }
}
