.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
  position: relative;
  max-width: 800px;

  .close {
    display: block;
    color: var(--theme-text-color);
    text-decoration: none;
    transition: color 0.2s ease;
    font-size: 20px;
    position: absolute;
    top: 18px;
    right: 20px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;

    svg {
      display: block;
    }

    &:hover, &:active, &:focus {
      color: var(--theme-link-hover-color);
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

  section {
    text-align: justify;
    align-self: stretch;

    h3 {
      margin-top: 0;
      font-weight: 500;
    }

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  hr {
    align-self: stretch;
    margin: 8px 0;
    border-color: var(--theme-letter-border);
  }

  .examples {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .word {
    max-width: 300px;
    --letter-size: calc(min(6vmin, 30px));

    @media (max-width: 600px) {
      max-width: 60vmin;
    }

    @media (max-width: 400px) {
      --letter-size: 8vmin;
    }

    @media (orientation: landscape) and (max-height: 650px) {
      width: 30vmax;
      --letter-size: 8vmin;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  .logo {
    max-width: 300px;
  }

  .discord {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    background: #5865F2;
    padding: 8px 16px;
    border-radius: 24px;
    font-weight: 500;
    transition: background 0.2s ease;
    color: white;
    font-size: 0.9em;
    text-align: center;

    &:hover, &:active, &:focus {
      background: #4957f2;
    }

    svg {
      font-size: 1.5em;
    }
  }
}
