.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--theme-text-color);
  gap: 8px;
  position: relative;
  flex: 1;

  @media (orientation: landscape) and (max-height: 650px) {
    flex-direction: row;
  }
}

.guesses {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  align-items: center;
  width: 100%;
  flex: 1;
  justify-content: center;
}

.oldDisclaimer {
  text-align: center;

  h3 {
    margin: 0;
  }
}
