.word {
  display: flex;
  align-items: center;
  gap: calc(max(1vmin, 5px));
  transform-origin: 50% 50%;
  width: 60vmin;
  max-width: 600px;
  --letter-size: 6vmin;

  --reveal-duration: 0.5s;
  --reveal-delay: 0.3s;

  @media (max-width: 400px) {
    --letter-size: 8vmin;
  }

  @media (max-height: 900px) {
    width: 50vmin;
  }

  @media (max-height: 800px) {
    width: 40vmin;
  }

  @media (orientation: landscape) and (max-height: 800px) {
    width: 42vmin;
  }

  @media (orientation: portrait) {
    width: calc(min(85%, 45vmax));
    --letter-size: 8vmin;
  }

  @media (orientation: portrait) and (max-height: 700px) {
    width: calc(min(85%, 40vmax));
  }

  @media (orientation: portrait) and (max-height: 600px) {
    width: calc(min(85%, 35vmax));
  }

  @media (orientation: portrait) and (max-height: 500px) {
    width: calc(min(85%, 32vmax));
    --letter-size: calc(min(6vmin, 4vmax));
  }

  @media (orientation: landscape) and (max-height: 650px) {
    width: calc(min(40vmax, 60vmin));
    --letter-size: calc(min(6vmax, 8vmin));
  }

  &.fast {
    --reveal-duration: 0.5s;
    --reveal-delay: 0.1s;
  }

  &.error {
    animation: word-error 0.3s ease;

    @keyframes word-error {
      0% {
        transform: translateX(0);
      }

      20% {
        transform: translateX(-5px);
      }

      40% {
        transform: translateX(5px);
      }

      60% {
        transform: translateX(-5px);
      }

      80% {
        transform: translateX(5px);
      }

      100% {
        transform: translateX(0);
      }
    }
  }

  &.flash {
    animation: flash 2s ease infinite;

    &--success {
      --flash-color: #299967;
    }

    &--warning {
      --flash-color: #ce9318;
    }

    &--error {
      --flash-color: #c44325;
    }

    @keyframes flash {
      0% {
        filter: drop-shadow(0 0 0 var(--flash-color));
      }

      50% {
        filter: drop-shadow(0 0 8px var(--flash-color));
      }

      100% {
        filter: drop-shadow(0 0 0 var(--flash-color));
      }
    }
  }
}
